[submodule "autoresearch-master"]
	path = autoresearch-master
	url = https://github.com/minf417-ops/autoresearch-master.git
[submodule "TPC"]
	path = TPC
	url = https://github.com/CounterConnect/TPC.git
